@*
    זה דף פשוט להכניס את הפרטים שלי, גם הוא פשוט מאד. מכיל בסך הכל טקסט
*@

@{
    ViewBag.Title = "About";
}

<br /><br /><br />
<h1>Meir Plevinski</h1>
<div class="panel panel-default" style="padding: 100px;">
    <p dir="ltr" class="round3" style="padding: 20px;">
        My name is <strong>Meir Plevinski</strong> and I managed a company of 150 employees with the customers like the government, municipally the army and universities &#8211; and was also a vice president for R&amp;D, team leader and product manager in a few start-up companies which I brought them to exits or Nasdaq stock exchange.<br /><br /> 
        I was involved in many invention and projects like Blood measurement through smart phone, Optical Character Recognition, statistical project for Tel Aviv University.<br /><br />
        My technical main skills are a few advances technologies like Image Processing, Pattern Matching, Neural networks,<span class="Apple-converted-space">  </span>UI, Device Driver Interfaces, Databases, Statistics, Web, .net, ASP.NET, iPhone, Android and many more.<br /><br />
        I am experienced in the old programming world like<span class="Apple-converted-space">  </span>C/C++ and Assembly to the new world like Python and Java.<br /><br />
        All the years of general management, and technology manager gave me a lot of technology experience can give your company a big push to the highest advanced technologies in the market.<br /><br />
        <b>What I offer?</b><br /><br />
        I will run your company or a part of it, my technical experience will help to run and grow the general skills of the company.<br /><br />
        <span class="s1">Linkedin:<a href="http://www.linkedin.com/in/meir-plevinski"><span class="s2">www.linkedin.com/in/meir-plevinski</span></a></span>
    </p> 
</div>
 